// Navigation Styles here
.navbar-section {
    border-bottom: @border-line;
    padding: 2% 0;
    div {
        .flex-me(space-between);
        align-items: center;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        
        nav {
            width: 50%;
            .flex-me(space-around);
            
            a {
                color: @font-color;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-size: 1.6rem;
                padding:2%;
                &:hover {
                    #animation-bundle .keyframe-animation(pulse; {
                        from {
                        transform: scale3d(1, 1, 1);
                        }
                    
                        50% {
                        transform: scale3d(1.2, 1.2, 1.2);
                        }
                    
                        to {
                        transform: scale3d(1, 1, 1);
                        }
                    });
                    #animation-bundle .animation-duration(0.5s);
                    #animation-bundle .animation-name(pulse);
                }
            }
        }


        @media @max500 {
            flex-direction: column;
            nav {
                width: 100%;
                justify-content: space-evenly;
            }

        }
    }
}